'''The dataset is about Health care Industry diabetes patients which includes different parameters which decide a Patient
is diabetic or not.
The type of algorithm which is used to predict the diabetic parameter is an Classification algorithm.
Step Followed
1.EDA preprocessing
2.Standard Scaling
3.Splitting Data in training and Testing
4.Cross validation using Decision Tree
5.Bagging Classifier 
6.Evaluating Scores

In [11]:
import pandas as pd

df=pd.read_csv("diabetes - diabetes.csv")

df.head()

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,148,72,35,0,33.6,0.627,50,1
1,85,66,29,0,26.6,0.351,31,0
2,183,64,0,0,23.3,0.672,32,1
3,89,66,23,94,28.1,0.167,21,0
4,137,40,35,168,43.1,2.288,33,1

In [12]:
df.isnull().sum() #gives the sum of null values in each column

Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [13]:
df.describe()#Gives the statistical summary of the features in the dataset

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [14]:
df.Outcome.value_counts() #count the occurrences of each unique value in a column named "Outcome" within a DataFrame

Outcome
0    500
1    268
Name: count, dtype: int64

In [15]:
x=df.drop('Outcome',axis=1)#dropping 'Outcome column from dataset '
y=df.Outcome #Storing the Outcome feature in y variable as our target variable

In [16]:
from sklearn.preprocessing import StandardScaler#Applying Standard Scaler which will scale the data in 'x' variable
scaler=StandardScaler()#"StandardScaler" is a preprocessing technique used to scale features (i.e., columns) of a 
                       #dataset to have a mean of 0 and a standard deviation of 1. 
x_scaled=scaler.fit_transform(x)
x_scaled[:3]

array([[ 0.84832379,  0.14964075,  0.90726993, -0.69289057,  0.20401277,
         0.46849198,  1.4259954 ],
       [-1.12339636, -0.16054575,  0.53090156, -0.69289057, -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.94372388, -0.26394125, -1.28821221, -0.69289057, -1.10325546,
         0.60439732, -0.10558415]])

In [19]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x_scaled,y,stratify=y,random_state=10)
x_train.shape

(576, 7)

In [23]:
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier

In [27]:
score=cross_val_score(DecisionTreeClassifier(),x,y,cv=10)
score

array([0.64935065, 0.75324675, 0.74025974, 0.61038961, 0.63636364,
       0.66233766, 0.81818182, 0.77922078, 0.71052632, 0.76315789])

In [25]:
from sklearn.ensemble import BaggingClassifier
from sklearn import tree
bag_model=BaggingClassifier(base_estimator=DecisionTreeClassifier(),n_estimators=100,max_samples=0.8,
                           oob_score=True,random_state=0)#
bag_model.fit(x_train,y_train)
bag_model.oob_score_

C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

0.7569444444444444

In [11]:
bag_model.score(x_train,y_train)

0.9965277777777778

bag_model.score(x_test,y_test)

In [12]:
bag_model.score(x_test,y_test)

0.796875

In [13]:
from sklearn.ensemble import RandomForestClassifier
score=cross_val_score(RandomForestClassifier(n_estimators=100),x,y,cv=10)
score

array([0.7012987 , 0.75324675, 0.7012987 , 0.64935065, 0.75324675,
       0.79220779, 0.80519481, 0.83116883, 0.69736842, 0.78947368])

In [14]:
score.mean()

0.7473855092276145

In [15]:
from sklearn.ensemble import BaggingClassifier
from sklearn import tree
bag_models=BaggingClassifier(base_estimator=RandomForestClassifier(),n_estimators=100,max_samples=0.8,
                           oob_score=True,random_state=0)
bag_models.fit(x_train,y_train)
bag_models.oob_score_

C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

0.7569444444444444

In [16]:
bag_models.score(x_train,y_train)

0.9565972222222222

In [17]:
bag_models.score(x_test,y_test)

0.8177083333333334